body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  @apply antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:focus,
button:focus,
input[type=text]:focus {
  @apply outline-none;
}

button {
  transition: 0.25s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h5 {
  font-size: 0.83em;
}
